<footer class="bg-zinc-900 text-gray-300 py-6">
  <div class="max-w-6xl mx-auto px-4 flex flex-col sm:flex-row justify-between items-center">
    <p class="text-sm mb-4 sm:mb-0">
      &copy; <%= new Date().getFullYear() %> Verba. All rights reserved.
    </p>
    <div class="flex space-x-4">
      <a href="https://github.com/64bitAtomic" class="hover:text-white"><i class="fab fa-github text-xl"></i></a>
      <a href="https://www.linkedin.com/in/mohammad-zaid-khan-020199260/" class="hover:text-white"><i class="fab fa-linkedin text-xl"></i></a>
      <a href="https://www.instagram.com/mzaidkhan2004" class="hover:text-white"><i class="fab fa-instagram text-xl"></i></a>
    </div>
  </div>
</footer>


